/*
*= require bootstrap.min
*/

.vertical-spacer {
  height: 20px;
}

.no-results {
  display: none;
  color: red;
}

.matching-term {
  display: none;
}

.highlighted {
  color: #cc6600;
  font-weight: bold;
}
