<tr>
  <% Passages::Route.attributes_for_display.each do |attribute| %>
    <td data-search='<%= route.send(attribute).try(:downcase) %>' data-matching-attribute='<%=attribute%>'>
      <%= route.send(attribute) %>
    </td>
  <% end %>
</tr>
