<tr>
  <% Roots::Route.attributes_for_display.each do |attribute| %>
    <td data-search='<%= route.send(attribute).downcase %>' data-matching-attribute='<%=attribute%>'>
      <%= route.send(attribute) %>
    </td>
  <% end %>
</tr>
