<!DOCTYPE html>
<html>
<head>
  <title>Roots</title>
</head>
  <body>
    <% @route_collection.each do |route| %>
      <%= render partial: 'route', locals: { route: route } %>
    <% end %>
  </body>
</html>
